 registry=https://registry.npmjs.org/
            strict-ssl=false
            @fortawesome:registry=https://npm.fontawesome.com/
            //npm.fontawesome.com/:_authToken= 0B6C8806-38B6-4ADB-80DB-A1D25C34971E
